body {
  background-color:#fff;
  -webkit-font-smoothing: antialiased;
  font: normal 20px Roboto,arial,sans-serif;
}
.container {
    position: center;
    padding-top: 100px;
}
.form-login {
    background-color: #EDEDED;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border-radius: 10px;
    border-color:#d2d2d2;
    border-width: 52px;
    box-shadow:0 1px 0 #cfcfcf;  
}
hr{
    border-width: 1px;
    border-color: blue;
}
legend {
 text-align: center;
}
.form-control {
    border-radius: 10px;
}
.wrapper {
    text-align: center;
}
#align{
    text-align: left;
}
#batay{
    padding-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}