.nav-text {
	font-size: 16pt;
}

.buttons {
	margin: 5px;
}

.slider-caption{
	color: #ffffff;
	position: absolute;
	float: center;
	padding: 5em;
	width: 35%;
}

.caption{
	color: #ffffff;
	font-size: 70px;
	font-weight: 700;
	text-shadow:  2px 2px 4px #000000;
}

.parallax {
    /* Set a specific height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1{
	background-color: #0c1e3a;
}

.texts{
	color: white;
	padding: 5px;
}

.description{
	color: white;
	text-align: justify;
	padding: 5px;
}

#batay{
 background-color:lightblue;

}

/*css for the therapsit dashboard*/
 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 110%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


 #dd{
 	padding-top: 20px;
      background-color: white;
      height: 1s0%;
 }


#amazing {
    background-color: #eee;

    height: 20em;
    overflow: scroll;
}
 