
.nav-text {
  font-size: 16pt;
}

.buttons {
  margin: 5px;
}

.slider-caption{
  color: #ffffff;
  position: absolute;
  float: center;
  padding: 5em;
  width: 35%;
}

.caption{
  color: #ffffff;
  font-size: 70px;
  font-weight: 700;
  text-shadow:  2px 2px 4px #000000;
}

.parallax {
    /* Set a specific height */
    height: 450px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1{
  background-color: #0c1e3a;
}

.texts{
  color: white;
}

.description{
  color: white;
  text-align: justify;
  font-size: 12pt;
}

main {
    padding: 90px;
}


#userBg{
  /*    background-image: url("/img/14.png");
    background-position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/
 background-color:#dcdcdc;

}

/*css for the therapist dashboard*/
 .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 110%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }


 #dd{
  padding-top: 20px;
      background-color: white;
      height: 10%;
 }


#amazing {
    background-color: #eee;
    width: 20em;
    height: 300px;
    border: 1px black;
    height: 20em;
    overflow: scroll;
}
 



/*CLIENT DASHBOARD*/

#transaction a {
    font-weight: bold;
}
.col-lg-3{
    font-weight: bold;
}
div .form-group{   /*Form in Account page*/
  justify-content: center;
}

div .bg-info, .bg-success{
  color: white;
}
 /*RATING*/

div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
 /*END OF RATING*/


#map{
  height: 360px;
  margin: 0px;
  padding: 0px
}

/* edit therapsit css *///


body {
    
    background-size: cover;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 0.3em;
    background-color: #f2f2f2;
}

*[role="form"] h2 { 
    font-family: 'Open Sans' , sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #000000;
    margin-top: 5%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.th-image{
  height: 150px;
  border-radius: 50px;
}

/* drop down in registration */

    #overflowTest {
      background: white;
      color: black;
      padding: 5px;
      width: 100%;
      height: 400px;
      overflow: scroll;
      border: 0px solid #ccc;
    }